@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg-light: #F0F3F2;
  --bg-dark: #0E1520;
}

body {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

body:not(.dark) {
  background-color: var(--bg-light);
  color: black;
}

body.dark {
  background-color: var(--bg-dark);
  color: white;
}

* {
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

@keyframes heartbeat {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.heartbeat {
  animation: heartbeat 1.3s infinite ease-in-out;
}

@theme {
    --font-primary: "Josefin Sans";
    --color-primary: #5B21B6;
    --color-dark: #4C1D95;
    --color-lighter: #F5F3FF;
    --color-light: #DDD6FE;
    --color-normalbg: #F0F3F2;
    --color-darkbg: #0E1520;
}